<h1>
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    Panier d'articles
</h1>

<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>

<table *ngIf="!loading" class="table">
    <tr>
        <th>Produit</th>
        <th>Marque</th>
        <th>Prix Unitaire</th>
        <th>Code EAN</th>
        <th>Quantité</th>
        <th>Supprimer</th>
    </tr>

    <tr *ngFor="let line of currentBasket.products">
        <td>{{line.product?.productName}}</td>
        <td>{{line.product?.brand}}</td>
        <td>{{line.product?.unitPrice}}$</td>
        <td>{{line.product?.ean13BarCode}}</td>
        <td>
            <button class="btn btn-link" (click)="removeQuantity(line)"><fa-icon [icon]="faMinusCircle" ></fa-icon></button>
            {{line.quantity}}
            <button class="btn btn-link" (click)="addQuantity(line)"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
        </td>
        <td ><button type="button" class="btn btn-danger btn-sm" [id]="'btnRemoveProduct_'+line.id" (click)="removeProduct(line)">Supprimer</button></td>
        
    </tr>
</table>
<div id="bottomOfPage" *ngIf="!loading">
    <span><fa-icon [icon]="faTags"></fa-icon>
    Ajouter des codes de réduction:
    </span>
    <span>
        <input id="inputDiscountCode" type="text" [(ngModel)]="discountCode"/>
        <button id="btnAddDiscountCode" class="btn btn-secondary btn-sm align-bottom" (click)="addDiscountCode()">
                <fa-icon [icon]="faPlusSquare" title="Ajouter un code de réduction"></fa-icon>
        </button>
    </span>
    <span id="discountCodes">
        
        <span *ngFor="let discount of currentBasket.discountCodes; let idx = index">
            <span *ngIf="idx==0"><br/>Codes déjà appliqués: </span>
            <span class="badge badge-pill badge-info">
            {{discount.code}}
            </span>
        </span>
    </span>    

    <div class="total">
    Prix total : <span id="spanTotalPrice" class="totalPrice">{{currentBasket.totalPrice}}</span>$
    </div>

    <div id="baskToSearch">
        <button id="btnBackStore" (click)="backToSearch()" class="btn btn-primary">
            <fa-icon [icon]="faStore"></fa-icon>
            Retour au magasin
        </button>
    </div>

    <div class="alertsAsToast">
        <jhi-alert></jhi-alert>
    </div>

    <div id="pay">
        <button (click)="pay()" class="btn btn-primary btn-lg btn-block">
              <fa-icon [icon]="faCashRegister"></fa-icon>
                Finaliser ma commande et procéder au paiement
            </button>
    </div>
</div>
