<div class="row" *ngIf="!isAuthenticated()">
    <div class="col-md-3">
        <img src="/content/images/robot.jpg"/>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Bienvenue sur votre TP !</h1>
        <p class="lead">Il vous permettra d'aborder les concepts importants du test automatisé.</p>

        <div class="alert alert-warning" >
            <span>Pour vous </span>
            <a class="alert-link" (click)="login()">connecter</a
            ><span
                >, vous pouvez utiliser les comptes par défaut :<br />- Utilisateur (login="user" et mot de passe ="user") <br />-
                Administrateur (login="admin" et mot de passe="admin").</span
            >                    
        </div>

        <p>Ce TP a été généré avec <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster</a></p>
    

    </div>
</div>
<div id="productList" class="row" *ngIf="isAuthenticated()">
    <jhi-product-list></jhi-product-list>
</div>